build/
__pycache__/
*.pyc
logs/
*.png
.ipynb_checkpoints/
docs/Tang_Nano_9K_3672_Schematic.pdf
docs/UG285E.pdf
docs/Pinmap.xlsx
docs/example_2.fs
paper/paper.pdf
paper/paper.aux
paper/paper.bbl
paper/paper.blg
paper/paper.log
paper/paper.bbl
paper/paper.blg
paper/paper.log
